h1 {
  font-family: 'Nanum Myeongjo', sans-serif;
  font-size: 38px;
}
h1.title {
  font-family: 'Nanum Myeongjo', sans-serif;
  font-size: 38px;
}
h2 {
  font-family: 'Nanum Myeongjo', sans-serif;
  font-size: 30px;
}
h3 {
  font-size: 24px;
  font-style: italic;
  font-weight: 100;
}
h4 {
  /*font-family: "Sabon";*/
  font-weight: 200;
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
img {
    display: block;
    margin: auto;
}
body {
  font-family: 'Nanum Myeongjo', sans-serif;
  font-size: 14pt;
}

/*.navbar {
  background-color:brown;
  border-color:blue;
  font-size: 12pt;
}*/

img-circle {
    border-radius: 50%;
}



